@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family:  poppins; 
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #4169E1, #61346B );
    padding: 10px;
}

.header {
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.todo {
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 5px 10px #888888;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 30px;
    box-shadow: 5px 10px #888888;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button {
    margin-right: 5px;
    margin-top: 3px;
    background-color: transparent;
}

.itm {
    list-style: none;
    display: flex;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-top: 25px;
    box-shadow: 5px 10px #888888;
    /* box-shadow: 5px 10px seagreen;*/
}

.itm-done {
    text-decoration: line-through;
    list-style: none;
    display: flex;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-top: 25px;
    box-shadow: 5px 10px seagreen;
}

.del {
margin-left: auto;
}

.add {
    margin-left: auto;
}

.editable {
    background-color: lightgray;
    border-radius: 30px;
}